<div class="container">
  <h1 class="title">Bob’s Corn Shop</h1>
  <div class="counter">
    Total Corn Bought:
    <span class="value">{{ totalPurchased }}</span>
  </div>
  <button
    (click)="buyCorn()"
    [disabled]="isLoading || isCooldownActive()"
    class="btn-primary"
  >
    {{ isLoading ? 'Buying...' : 'Buy Corn' }}
  </button>
  <div *ngIf="isCooldownActive()" class="status status--error">
    Please wait {{ secondsRemaining }} seconds
  </div>
  <div *ngIf="!isCooldownActive() && !isLoading" class="status status--success">
    You can buy corn now!
  </div>
</div>